<ion-header>
	<ion-navbar color="secondary" hideBackButton="true">
		<ion-buttons left>
			<button ion-button icon-only (click)="changeLocation()">
				<ion-icon name="pin" style="font-size: 35px;"></ion-icon>
			</button>
		</ion-buttons>
		<ion-buttons right>
			<button ion-button icon-only (click)="logar()">
				<ion-icon name="contact" style="font-size: 40px;"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title text-center>Me Adote!</ion-title>
	</ion-navbar>
	<ion-toolbar>
		<ion-segment [(ngModel)]="pets" color="secondary">
			<ion-segment-button value="cachorros">
				<img src="https://bit.ly/2QvdvHm" height="40" width="50">
			</ion-segment-button>
			<ion-segment-button value="gatos">
				<img src="https://bit.ly/2QuGhbb" height="40" width="50">
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>
<ion-content style="background-color: #e6ffe6">
	<div [ngSwitch]="pets" style="background-color: #e6ffe6">
		<ion-list *ngSwitchCase="'cachorros'">
			<ion-item *ngFor='let adDog of anunciosCachorros | async' (click)="viewAd(adDog)" style="background-color: #e6ffe6">
				<ion-card >
					<img src={{adDog.urlPhoto}} />
					<ion-card-content>
						<ion-card-title>
							{{adDog.titulo}}
						</ion-card-title>
						<p>
							<b>Telefone: </b>{{adDog.telefone}}
						</p>
						<p>
							<b>Cidade: </b>{{adDog.cidade}}
						</p>
					</ion-card-content>
				</ion-card>
			</ion-item>
		</ion-list>
		<ion-list *ngSwitchCase="'gatos'">
			<ion-item *ngFor='let adCat of anunciosGatos | async' (click)="viewAd(adCat)" style="background-color: #e6ffe6">
					<ion-card>
						<img src={{adCat.urlPhoto}} />
							<ion-card-content>
								<ion-card-title>
									{{adCat.titulo}}
								</ion-card-title>
								<p>
									<b>Telefone: </b>{{adCat.telefone}}
								</p>
								<p>
									<b>Cidade: </b>{{adCat.cidade}}
								</p>
							</ion-card-content>
						</ion-card>
			</ion-item>
		</ion-list>
	</div>
</ion-content>