<ion-header>
	<ion-navbar color="secondary" hideBackButton="true">
		<ion-buttons left>
			<button ion-button icon-only (click)="changeLocation()">
        <ion-icon name="pin"style="font-size: 35px;"></ion-icon>
      </button>
		</ion-buttons>
		<ion-buttons right>
			<button ion-button icon-only (click)="logar()">
        <ion-icon name="contact" style="font-size: 40px;"></ion-icon>
      </button>
		</ion-buttons>
		<ion-title text-center>Me Adote!</ion-title>
	</ion-navbar>
	<ion-toolbar>
		<ion-segment [(ngModel)]="pets" color="secondary">
			<ion-segment-button value="cachorros">
				<img src="https://bit.ly/2QvdvHm" height="40" width="50">
			</ion-segment-button>
			<ion-segment-button value="gatos">
				<img src="https://bit.ly/2QuGhbb" height="40" width="50">
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div [ngSwitch]="pets">
		<ion-list *ngSwitchCase="'cachorros'">
			<ion-item *ngFor='let adDog of anunciosCachorros | async'>
				<ion-thumbnail item-start>
					<img src="https://bit.ly/2QvdvHm">
				</ion-thumbnail>
				<h1>{{adDog.titulo}}</h1>
				<p><b>Telefone:</b>{{adDog.telefone}}</p>
				<p><b>Cidade:</b>{{adDog.cidade}}</p>
			</ion-item>
		</ion-list>
		<ion-list *ngSwitchCase="'gatos'">
			<ion-item *ngFor='let adCat of anunciosGatos | async'>
				<ion-thumbnail item-start>
					<img src="https://bit.ly/2QuGhbb">
				</ion-thumbnail>
				<h1>{{adCat.titulo}}</h1>
				<p><b>Telefone:</b>{{adCat.telefone}}</p>
				<p><b>Cidade:</b>{{adCat.cidade}}</p>
			</ion-item>
		</ion-list>
	</div>
</ion-content>